<body background="background.jpg">

<br>
<br>
<br>
<br>
<br>


  <div class="container1"> <div class = "form"><%= link_to "X O O X", new_user_registration_path,{:class => "css_class"}  %></div></div>   
  
</body>